body {
  font-family: Tahoma;
  line-height: 1.5;
  font-size: 18px;
  margin: 0;
  background: url(img/background.jpg) fixed;
}

.card {
  width: 500px;
  margin: 30px auto;
  background-color: #ffffff;
  box-shadow: 0 7px 10px #9e9494;
  border-radius: 10px;
  padding: 20px;
}

.card-photo {
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  width: 200px;
}

.card-title {
  font-size: 25px;
  text-align: center;
  color: #910a3d;
}

.card-table,
td {
  text-align: center;
  border: 0.5px solid grey;
  border-collapse: collapse;
  margin: auto;
  padding: 0px 10px;
  font-size: 15px;
  background: rgb(228, 208, 228);
}

h2 {
  text-align: center;
  font-size: 20px;
}

.italics {
  font-size: 18px;
  font-family: Arial;
  color: #2e2a2a;
}

.text {
  font-family: Arial;
  font-size: 16px;
}

.card-heading {
  font-size: 18px;
}

.card-list {
  font-size: 16px;
  font-weight: 470;
}

.code {
  font-size: 15px;
  background-color: rgb(240, 222, 237);
  padding-bottom: 10px;
  padding-left: 10px;
  border-radius: 10px;
}
.code_h3 {
  margin-bottom: 0;
}
.online_zoo {
  margin-top: 10px;
  margin-left: 30px;
}
.wildlife {
  margin-top: 5px;
  margin-left: 30px;
}
.wildlife a {
  text-decoration: none;
  font-family: Arial;
  font-size: 16px;
  color: #2e2a2a;
}
.wildlife a:hover,
.wildlife a:focus,
.wildlife a:active {
  color: #910a3d;
}
.online_zoo a:hover,
.online_zoo a:focus,
.online_zoo a:active {
  color: #910a3d;
}
.online_zoo a {
  text-decoration: none;
  font-family: Arial;
  font-size: 16px;
  color: #2e2a2a;
}
.italics2 {
  font-family: Tahoma;
  color: #97194a;
}

.logo {
  display: block;
  width: 150px;
}

footer {
  width: 350px;
  background-color: #e7d8e3;
  margin: 0 auto;
  border-radius: 10px;
  padding: 20px;
}

figcaption {
  font-size: 16px;
}
.footer_flex {
  display: flex;
  justify-content: flex-end;
}
.flex_item {
  margin-right: 20px;
}
.flex_item:last-child {
  margin-right: 0;
}
.footer_p {
  margin-top: 10px;
  margin-bottom: 0;
  margin-left: 20px;
}
.flex_item:nth-child(1) {
  margin-right: 0;
}
.flex_p {
  order: 3;
}
figure {
  margin: 0 0 0 0;
}
